* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

p{
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(12, 11, 11);
}
h2{
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
  font-size: 2.1rem;
  font-weight: 700;
  color: #d63384;
  margin-bottom: 5px;
}
h3{
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: rgb(12, 11, 11);
}

.MIntro{
background-color:  rgb(252, 247, 250);
}

.heart1{ padding-right: 15px;}
.conttext{
  text-align: left;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.conttext h2{
  color: #333;
}
.conttextcont{
  display: flex;
  justify-content: center;
  padding: 0px 20px 40px 20px;
  flex-direction: column; 
}



/* NAV */
.navsection {
  width: 100%;
  padding: 70px 0 40px;
}

.navscontainer {
  width: 100%;
  padding: 0 20px;
}
.inner-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .conttext h2{font-size: 1.7rem;}
  .conttext { padding-left: 10px;}
  .conttextcont {padding: 0px 40px 20px 0px;}
  .navsection{
    padding: 40px 0 40px;
  }
}

.box {
  position: relative;
  flex: 1 1 calc(25% - 20px);
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  padding: 40px 20px 100px;
  min-height: 300px; 
  text-decoration: none; 
  box-shadow: 0 5px 10px rgba(139, 92, 246, 0.15);
  color: inherit;  
}
.box svg{
  position: absolute;
  top: 20px;
  left: 30px;
  width: 45px;
  height: 45px;
  z-index: 1;
}
.box-label {
  position: absolute;
  top: 20px;     
  right: 20px;    
  background-color: #662ED9; 
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 10px;
  z-index: 2; 
  box-shadow: 0 3px 6px rgba(102, 46, 217, 0.25);
}
.top-circle {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 45px;
  height: 45px;
  z-index: 1;
}

.decor-circle {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 0;
  pointer-events: none;
}
.box-content {
  position: relative;
  z-index: 1;
  text-align: left;
  padding-left: 10px; 
  padding-top: 30px; 
}
.box-content h3 {
  font-family: 'Comic Sans MS', cursive;
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: 700px;
  text-decoration: none;
}
.box-content p {
  font-size: 1.1rem;
  color: #474747;
  margin: 0; 
}
.box .decor-circle {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(1);
}
.box:hover .decor-circle {transform: scale(7);}

@media (max-width: 1200px) {
  .box {
  flex: 1 1 calc(50% - 20px);
  padding: 40px 20px 50px; 
  min-height: 1px; 
  }
  .box {
    flex: 1 1 100%;
  }
}


/* Sekcja Pop  */
.pop {
  display: flex;
  justify-content: center;
}

.pop-container {
  max-width: 1600px;
  display: flex;
  width: 100%;
  justify-content: space-between; 
  flex-wrap: wrap; 
}
.pop-container1 {
  max-width: 1600px;
  display: flex;
  width: 100%;
  flex-wrap: wrap; 
}
.pop-box {
  background: #fff;
  flex: 1 0 30%; 
  padding: 10px;
}
.pop-box1 {
  background: #fff;
  flex: 1 0 30%; 
  padding: 0px 10px 10px 0px;
}
.pop-box1 h2 {
  font-family:sans-serif;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #474747;
}
.pop-box h2 {
  font-family:sans-serif;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #474747;
}

.pop-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.pop-svg {
  flex: 0 0 auto;
  padding: 6px;
  background-color: #ece3fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop-text p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #444;
}
.pop-text{max-width: 400px;}

@media (max-width: 768px) {
  .pop-content {
    flex-direction: column;
    text-align: center;
  }
  .pop {display: none;}
  .pop-svg {
    margin-bottom: 20px;
  }
}


/* Sekcja Galeria */
.galerysection {
  overflow: hidden;
  padding: 140px 0 30px;
}

.galery-container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: visible;
  cursor: grab;
}
.galery-track {
  display: flex;
  gap: 20px;
  user-select: none;
  transition: transform 0.3s ease;
  will-change: transform;      
  cursor: grab;
}
.galery-item {
  position: relative;
  flex-shrink: 0;
  width: 380px;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(77, 46, 255, 0.15);
}
.galery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}
.galery-item::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(
    to bottom right,
    rgba(137, 86, 255, 0.20),
    rgba(46, 46, 46, 0.05)
  );
  pointer-events: none;
}

.gallery-scrollbar-wrapper {
  display: flex;
  align-items: center;
  max-width: 1550px;
  margin: 20px auto 0;
  margin-bottom: 130px;
  gap: 10px;
}
.scrollbar-icon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-color: #c9bbff;
  border-radius: 10px;
}

.scrollbar-visual {
  flex-grow: 1;
  height: 6px;
  background: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.scrollbar-fill {
  height: 100%;
  width: 0%;
  background: #9a63ff; 
  border-radius: 4px;
  transition: width 0.2s ease;
}
@media (max-width: 768px) {
  .gallery-scrollbar-wrapper{
    padding: 0px 10px 0px 10px;
    margin-bottom: 50px;
  }
  .galery-item{width: auto; height: auto;}
  .galery-track img{ width: 280px;
  height: 170px;}
  .galerysection {
    padding: 20px 0 30px;
  }
  .galery-container{
    padding-left: 10px;
  }
}


/* Sekcja Intro */
#NewIntro {
  width: 100%;
  padding: 50px 20px 15px;
}

.NewIntroContainer {
  max-width: 1600px;
  margin: 0 auto;
}

.NewIntroContent {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 80px; 
}

.NewIntroText {
  flex: 1;
  text-align: left;
}
.NewIntroText h3{
  font-family: 'Comic Sans MS', cursive;
  font-weight: 800px;
  font-size: 2.8rem;
  color: #333;
  margin-bottom: 10px;
} 

.NewIntroText h2{
  font-family: 'Comic Sans MS', cursive;
  font-weight: 900;
  font-size: 2rem;
  color: #882edd;
  margin-bottom: 15px;
}

.NewIntroImage {
  flex: 1;
  display: flex;
  justify-content: center;
}

.NewIntroImage img {
  max-width: 90%;
  height: auto;
  display: block;
}

#Newintrodec{
  display: flex;
  justify-content: center;
}
.NewIntrobox{
  background: #fff;
  flex: 1 0 30%; 
  padding: 10px;
}
.NewIntroboxcontent{
    display: flex;
  align-items: center;
  gap: 30px;
}
.NewIntrodec h2{
  font-size: 1.6rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
}
.NewIntroboxcontent p{
  max-width: 500px;
  font-size: 1rem;
}
.NewIntroIcons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  align-items: center;
}

.NewIntroIcons img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .NewIntroContent {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .NewIntroText {
    order: 2;
    margin-top: 20px;
  }
  .NewIntroText h2{font-size: 1.7rem;}
  .NewIntroText h3{font-size: 2rem;}
  .NewIntroImage {
    order: 1;
  }
}

@media (max-width: 768px) {
  h2,
  h3,
  .box-content h3,
  .NewIntroText h2,
  .NewIntroText h3 {
    font-family: 'Comic Neue', cursive, sans-serif !important;
  }
}


